# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
datos.db

assets/*
static/*
media/*
logs/*
**/migrations/
#manage.py
*.zip
gunicorn_start.sh
apps/core/migrations/